/node_modules
/public/hot
/public/storage
/storage/*.key
bootstrap/cache/
storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.*.php
.env.php
.env.example
.*
!/.gitignore
