.post-title{
	font-size:200%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;
}

.owl-next{
	display: inline-block;
	text-align:center;
	margin-bottom: 1em;
}

.owl-prev{
	display: inline-block;
	margin-right: 2em;
	margin-bottom: 1em;
}

.owl-nav{
	text-align: center;
}

.owl-section{
display: table;
}

.owl-label{
  display: table-caption;
  caption-side: bottom;
}

.post-paragraph{
	margin-bottom: .5em;
}

