/*
 * Owl Carousl
*/
.owl-next{
	display: inline-block;
	text-align:center;
	margin-bottom: 1em;
}

.owl-prev{
	display: inline-block;
	margin-right: 2em;
	margin-bottom: 1em;
}

.owl-nav{
	text-align: center;
}

.owl-section{
display: table;
}

.owl-label{
  display: table-caption;
  caption-side: bottom;
}
/*
 * Display post
*/
.post-title{
	font-size:200%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;
}

.post-paragraph{
	margin-bottom: .5em;
}

.post_button{
	margin-right: 1em;	
}
/*
 * Post Index Page
*/
.post_draft{
	border: solid;
	color:red;
}

.post_unAvailable{
	border: solid;
	color:blue;
}

.thumbnail_transform {
	margin-bottom:15px;
	width:250px;
	height:250px;
	overflow:hidden;
	margin:0 auto 30px; 
}

.thumbnail_transform figure {
	margin:0;
	padding:0;
	position:relative;
	cursor:pointer;
}

.thumbnail_transform figcaption {
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:white;
	font-weight: bold;
	padding:15px 30px;
	background-color:rgba(26,76,110,0.80);
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;
	position:absolute;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.thumbnail_transform img {
	position:relative;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;
	height: 250px;
	width: 250px;
}

.thumbnail_transform:not(:focus):hover img{
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.thumbnail_transform:not(:focus):hover figcaption {
	-webkit-transform:rotateY(0);
	-moz-transform:rotateY(0);
	transform:rotateY(0);
}

.thumbnail_transform:not(:focus):hover .thumbnail_title{
	color: transparent;
	background-color:rgba(0,0,0,0);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.thumbnail_transform:focus{
	outline: none;
}

.hovered img{
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.hovered figcaption {
	-webkit-transform:rotateY(0);
	-moz-transform:rotateY(0);
	transform:rotateY(0);
}

.hovered .thumbnail_title{
	color: transparent;
	background-color:rgba(0,0,0,0);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.thumbnail_title{
	color:white;
	font-weight: bold;
	padding:5px 15px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:12;
	background-color:rgba(0,0,0,0.50);
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	transition:all .5s;
}

.thumbnailable{
	border: solid;
	color:red;
}

.swipe_image{
	z-index:20;
	position:absolute;
	height: 100px;
	width: 100px;
	top:25%;
	left:40%;
    pointer-events:none;
}

.swipe_image+.thumbnail_transform{
	opacity: 0.70;
	filter: alpha(opacity=70);
}
/*
 * Post comments
*/
.comment_name{
	margin-right: 20px;
}
.level_1{
	margin-left: 5px;
	padding-left: 15px;
}
.level_2{
	margin-left: 15px;
	padding-left: 30px;
	border-left: 2px solid #c5c1ad;
}
.level_3{
	margin-left: 30px;
	padding-left: 30px;
	border-left: 2px solid #c5c1ad;
}
.level_4{
	margin-left: 45px;
	padding-left: 30px;
	border-left: 2px solid #c5c1ad;
}
.post_comments{
	border: 2px solid #000000;
}
.post_comment{
	margin-top: 10px;
	margin-bottom: 15px;
}
.comment_textbox{
	width:97%;
}
.comment-hide{
	margin-left:15px;
}
.glyph_button{
	-webkit-appearance: none;
	outline: none;
	border: 0;
	background: transparent;
}
/*
 * Footer
*/
#footer{
	background-color: #f8f8f8;
	position: relative;
	min-height: 50px;
	margin-top: 20px;
	border: 1px solid #e7e7e7;
}

.footer_row{
	text-align: center;
}

.mail_icon img, .social_icon img{
	height: 24px;
	width: 24px;

}

.contact_us_links, .social_links, .nav_sites, .sister_sites{
	list-style: none;
}

.contact_us_links li, .social_links li{
	display: inline;
	padding-right:5px;
}

.nav_sites li, .sister_sites li{
	
}
/*
 * dashboard
*/
.blog_container{
}

.blog_container_image a img{
	max-width: 90%;
}

.dashboard_post{
	text-align: left;
	width: 800px;
	max-width: 90%;
	margin:0 auto;
	margin-top: 10px;
}

.dashboard_post_title{
	font-weight: bold;
}

.dashboard_post_date{
	font-weight: bold;
}

.dashboard_post_snipit{
	
}