<div class="post-paragraph">Tony and I went to California for New Years. I have some friends in Sacramento who went to Roaring Camp recently with their family and it looked so fun I knew it was something I wanted to do while we were visiting.</div>
<div class="post-paragraph">We boarded a train and rode it through the Redwood forest. It was so beautiful and the constructor had lots of information about the train, the history and the area.</div>
