<div class="post-paragraph">I heard about <a href="https://www.cotopaxi.com/pages/events-questival-home" target="_blank">Questival</a> a few months ago online somehow and it sounded crazy fun so I decided to sign me and Tony up to participate. I had a 3 other friends who wanted to do it with us and I even bought cool socks for us all to wear! Unfortunately, they all had to drop out or cancel just a couple weeks before the event. </div>
<div class="post-paragraph">24 hours before the event started, you could download the list of challenges. The categories were pre-event, adventure & fitness, community, checkpoints, festival, food, quirky, service and environment, social media, sponsor checkpoints, surprise, survival and camping, teamwork and travel and hiking. Lots in each category to pick from, all worth anywhere from 1-12 points. You just had to do as much as you could in 24 hours!</div>
<div class="post-paragraph">A pre-race challenge that Tony & I did was to make a humanitarian kit. So we went to the Dollar Tree, found the 5 item we needed and I turned it in once I got to Questival.</div>
<div class="post-paragraph">Next, with the same group as the girl who is in the picture, I had to pick a card out of a bag and learn a phrase and make a video. So I learned how to say a phrase in Burmese. If I can figure out how to get the video here, I'll post it.</div>
<div class="post-paragraph">Then I stood in a long line of people but the line behind me got super long so I am glad I jumped in line when I did. It was fun to listen to the conversations going on around me as I waited for Tony. Many teams had fun costumes or matching shirts on. I wish we had done that! I found a great shirt but Tony wouldn't go for it and the socks I got, well, it was too hot at that point to wear them but they would have come in handy later.</div>
<div class="post-paragraph">Here we are waiting in line to get pizza from one of the food trucks. I got out here around 4:45pm from work and Tony joined me around 5:30. At 7pm they handed out our flag that meant we could start and it needed to be in every picture (minus the challenges we did beforehand and at the kickoff party) </div>
<div class="post-paragraph">Got fueled at the Gnarly booth and took a photo with one of the cardboard cutouts</div>
<div class="post-paragraph">The food trucks Cup Bop and Waffle Luv were also there </div>
<div class="post-paragraph">Selfie in the crowd - there were 3000 people there!</div>
<div class="post-paragraph">Took a team photo with the Cotopaxi van</div>
<div class="post-paragraph">Challenge Complete - pick up and recycle 100 pieces of trash</div>
<div class="post-paragraph">Challenge complete - climb to the top of the Maverick climbing wall. Normally I scoff at these things because I know how to do the real thing but I humored them and got points for our team. Haha</div>
<div class="post-paragraph">Spell Q-U-E-S-T-I-V-A-L with strangers</div>
<ul>
	<li>I also made a 15 second video talking about what I learned about malaria from NothingButNets.net</li>
	<li>I visited the Acanela booth and took a photo in front of my favorite travel destination plus entered to win a spot on one of their upcoming expeditions.</li>
	<li>I tried to guess how many chargers were at the Power Practical tent</li>
</ul>
<div class="post-paragraph">This was easy - get a picture with a llama! </div>
<div class="post-paragraph">I headed home to pick up Tony and in the next post you get to see what we did next!</div>
