<div class="post">
	<div class="post-content">
		<div class="post-paragraph"></div>
	</div>

	<div class="post-carousel">
		<div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption transbox"><p>label</p></div>
					<img src="https://4.bp.blogspot.com/-xN2x96cU3_I/Vws6Lc7m3NI/AAAAAAABPpY/I4LDFA3kbBgVM9BHJiyyblgm2GtqsQadA/s400/questival1.jpeg" />
				</div>
				<div class="item">
					<div class="carousel-caption transbox"><p>label</p></div>
					<img src="https://4.bp.blogspot.com/-7OHANzBFW7Y/Vws6LVIs9NI/AAAAAAABPpg/--6sk3x6jUUIRo1hqhM2OY9r2ufqxzjFg/s400/questival2.jpeg" />
				</div>
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>
